boto3
botocore
discord.py
huggingface-hub
langchain
numpy
openai
openapi-schema-pydantic
pandas
pyarrow
pydantic
pytube
scikit-learn
scipy
slack-bolt
tiktoken
tokenizers
torch
inflect
youtube-transcript-api
faiss-cpu
pytest